<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/css/clstylec.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <link type="text/css" href="/css/responsive.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Share+Tech' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Rationale' rel='stylesheet' type='text/css'>
</head>
<body class="page page-index">
    {% include "header.html" %}
    <div class="row-fluid cl_form">
        <div class="span2 control-bar pull-left">
            <div class="list-group cc_lg">
                <div class="list-group-item " id="_lg1">Create Course</div>
                <div class="list-group-item lactive" id="_lg2">Add Links</div>
                <div class="list-group-item" id="_lg4">Finished</div>
            </div>
        </div>
        <script>
            function getFile(url) {
              if (window.XMLHttpRequest) {
                AJAX=new XMLHttpRequest();
              } else {
                AJAX=new ActiveXObject("Microsoft.XMLHTTP");
              }
              if (AJAX) {
                 AJAX.open("GET", url, false);
                 AJAX.send(null);
                 return AJAX.responseText;
              } else {
                 return "";
              }
            }
            function validateForm()
            {
                var x=document.forms["createCourse"]["lname"].value;
                if (x==null || x=="" || getFile("http://gdata.youtube.com/feeds/api/videos/" + x).indexOf("xml")==-1)
                {
                    $("#errid123").show();
                    //document.getElementById("#errid123").show();
                    return false;
                }
                $('#errid').hide();
            }
            function add()
            {
                var vtitle=document.getElementById("vtitle").value;
                var vlink=document.getElementById("linkName").value;
                //str inner HTML
                var ylink="<img class='img-responsive' alt=' ' src='http://img.youtube.com/vi/"+vlink+"/default.jpg' style='float: left;margin-right: 15px;'/>";
                var title="<p id='title'>"+vtitle+"</p>";
                var link="<p id='link'>http://www.youtube.com/watch?v="+vlink+"</p>";
                var clbut="<div class='btn btn-danger' onclick='p_delete();'><img id='closeImg' alt='X' class='img-responsive' src='img/close.png'/>Delete</div>";
                //create the new div
                var div=document.createElement("div");
                div.className="cc_session";
                div.innerHTML=ylink+title+link+clbut;
                var obj=document.getElementById("linkList");
                obj.appendChild(div);
            }

            function p_delete()
            {

            }
        </script>
        <div class="span5">
            <form method="POST" action="/course/links/add?key={{ key }}" name="createCourse" role="form" onsubmit="return validateForm()"><br/>
                <div class="bs-callout.bs-callout-danger">
                    {% if err %}
                    <div id="err"><pre>{{ err }}</pre></div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="vtitle">Title of Video :</label>
                    <input type="text" class="form-control" id="vtitle" name="vtitle" placeholder="Enter Link Title"/><br/>
                </div>
                <div class="form-group">
                    <label for="linkName">Add Video ID of Youtube Video to Course :</label>
                    <input type="text" class="form-control" id="linkName" name="lname" placeholder="Enter Link url"/><br/>
                    <div id="errid123" style="color: darkred;visibility: hidden;">Please enter a valid Youtube Video ID</div>
                </div>
                <input type="submit" value="Add" class="btn btn-primary btn-lg"  style="float: left;margin-right: 5px;"/><br/>
            </form>
            <form method="POST" action="/course/finish?key={{ key }}" name="finishCourse" role="form">
                <input type="submit" value="Finish" class="btn btn-primary btn-lg"/>
            </form>
            </div>
            <div class="span5 cl_session pull-right" id="linkList">
                <div class="cc_session">
                {% for link in links %}
                <form method="POST" action="/course/links/delete?ckey={{ key }}&lkey={{ link.key }}">
                    <img class="img-responsive" src="http://img.youtube.com/vi/{{ link.link }}/default.jpg" style="float: left;margin-right: 15px;"/>
                    <p id="title">{{ link.title }}</p>
                    <p id="link">http://www.youtube.com/watch?v={{ link.link }}</p>
                    <input type="submit" class="btn btn-danger" value="X Delete"/>
                </form>
                {% endfor %}
                </div>
            </div>
        </div>
        <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.js"></script>
        <script src="/js/bootstrap-transition.js"></script>
        <script src="/js/bootstrap-alert.js"></script>
        <script src="/js/bootstrap-affix.js"></script>
        <script src="/js/bootstrap-modal.js"></script>
        <script src="/js/bootstrap-dropdown.js"></script>
        <script src="/js/bootstrap-scrollspy.js"></script>
        <script src="/js/bootstrap-tab.js"></script>
        <script src="/js/bootstrap-tooltip.js"></script>
        <script src="/js/bootstrap-popover.js"></script>
        <script src="/js/bootstrap-button.js"></script>
        <script src="/js/bootstrap-collapse.js"></script>
        <script src="/js/bootstrap-carousel.js"></script>
        <script src="/js/bootstrap-typeahead.js"></script>
</body>
</html>