<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <link type="text/css" href="/css/responsive.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Share+Tech' rel='stylesheet' type='text/css'>
</head>
<body class="page page-index">
    {% include "header.html" %}
    <div style="width: 100%;height: 100%;">
        <div style="width: 100%;height: 50px;vertical-align: middle;text-align: center;color: dimgray;margin-top: 40px;">
            <h2>Project Developers</h2>
        </div>
        <div style="width: 100%;height: 440px;vertical-align: middle;text-align: center;margin-top: 0px;">
            <div class="g-person" data-width="300" data-href="//plus.google.com/+saswatraj" data-theme="dark" data-rel="author" style="display:inline-block;"></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="g-person" data-width="300" data-href="//plus.google.com/+AyushJain007" data-theme="dark" data-rel="author" style="display:inline-block;"></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="g-person" data-width="300" data-href="//plus.google.com/+ArunPandey13" data-theme="dark" data-rel="author" style="display:inline-block;"></div>
            <script type="text/javascript">
                window.___gcfg = {lang: 'en-GB'};
                (function() {
                    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                    po.src = 'https://apis.google.com/js/plusone.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                })();
            </script>
        </div>
        <div style="width: 100%;text-align: center;">
            <iframe src="https://docs.google.com/forms/d/12Y3HFZZIGwo3KauiYDr4Hr9HZbawcdiEQwrymjCDiKE/viewform?embedded=true" width="100%" height="610px" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
        </div>
    </div>
        <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.js"></script>
        <script src="/js/bootstrap-transition.js"></script>
        <script src="/js/bootstrap-alert.js"></script>
        <script src="/js/bootstrap-affix.js"></script>
        <script src="/js/bootstrap-modal.js"></script>
        <script src="/js/bootstrap-dropdown.js"></script>
        <script src="/js/bootstrap-scrollspy.js"></script>
        <script src="/js/bootstrap-tab.js"></script>
        <script src="/js/bootstrap-tooltip.js"></script>
        <script src="/js/bootstrap-popover.js"></script>
        <script src="/js/bootstrap-button.js"></script>
        <script src="/js/bootstrap-collapse.js"></script>
        <script src="/js/bootstrap-carousel.js"></script>
        <script src="/js/bootstrap-typeahead.js"></script>
</body>
</html>