<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <link type="text/css" href="/css/responsive.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Share+Tech' rel='stylesheet' type='text/css'>
</head>
<body class="page page-index">
    {% include "header.html" %}
    <div class="row-fluid cl_form">
        <div class="span2 control-bar pull-left">
            <div class="list-group cc_lg">
                <div class="list-group-item lactive" id="_lg1">Create Class</div>
                <div class="list-group-item" id="_lg2">Add Sessions</div>
                <div class="list-group-item" id="_lg4">Finished</div>
            </div>
        </div>
        <div class="span5">
            <form method="POST" action="/class/create/submit" name="createClass" role="form"><br/>
                <div class="bs-callout.bs-callout-danger">
                    {% if err %}
                    <div id="err"><pre>{{ err }}</pre></div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="className">Class Name:</label>
                    <input type="text" class="form-control" id="className" name="cname" placeholder="Enter Class Name"/><br/>
                </div>
                <div class="form-group">
                    <label for="chooseCategory">Choose Category:</label>
                    <select name="category" id="chooseCategory" class="form-control">
                        {% for cat in categories %}
                        <option value="{{ cat.category_id }}">{{ cat.category_name }}</option>
                        {% endfor %}
                    </select><br/>
                </div>
                <div class="form-group">
                    <label for="f_title" >Title:</label>
                    <input type="text" name="title" id="f_title" class="form-control" placeholder="title"/><br/>
                </div>
                <div class="form-group">
                    <label for="f_desc">Description</label>
                    <textarea class="form-control" id="f_desc" name="desc"></textarea>
                </div>
                <div class="form-group">
                    <label for="f_gdrive">Attach Google Drive Link:</label>
                    <input type="date" name="date" id="f_gdrive" class="form-control" placeholder="public link to google drive folder"/>
                </div>
                <input type="submit" value="submit" class="btn btn-primary btn-lg"/><br/>
            </form>
            </div>
            <div class="span5 cl_session pull-right">
                <div class="cc_session">
                    <form action="/class/session/add" method="POST" role="form">
                        <br/>
                        <div class="form-group">
                            <label for="f_date">Enter Date:</label>
                            <input type="date" name="date" id="f_date" class="form-control" placeholder="dd-mm-yyyy"/>
                        </div>
                        <div class="form-group">
                            <label for="f_stime">Enter Starting Time:</label>
                            <input type="time" name="stime" id="f_stime" class="form-control" placeholder="dd-mm-yyyy"/>
                        </div>
                        <div class="form-group">
                            <label for="f_etime">Enter Ending Time:</label>
                            <input type="time" name="etime" id="f_etime" class="form-control" placeholder="dd-mm-yyyy"/>
                        </div>
                        <div class="form-group">
                        <input type="submit" value="Add Session" class="btn btn-primary"/>
                        </div><br/>
                    </form>
                </div>
            </div>
        </div>
    </div>
        <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.js"></script>
        <script src="/js/bootstrap-transition.js"></script>
        <script src="/js/bootstrap-alert.js"></script>
        <script src="/js/bootstrap-affix.js"></script>
        <script src="/js/bootstrap-modal.js"></script>
        <script src="/js/bootstrap-dropdown.js"></script>
        <script src="/js/bootstrap-scrollspy.js"></script>
        <script src="/js/bootstrap-tab.js"></script>
        <script src="/js/bootstrap-tooltip.js"></script>
        <script src="/js/bootstrap-popover.js"></script>
        <script src="/js/bootstrap-button.js"></script>
        <script src="/js/bootstrap-collapse.js"></script>
        <script src="/js/bootstrap-carousel.js"></script>
        <script src="/js/bootstrap-typeahead.js"></script>
</body>
</html>