<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <link type="text/css" href="/css/responsive.css" rel="stylesheet" />
    <link href="css/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Share+Tech' rel='stylesheet' type='text/css'>
</head>
<body class="page page-index">
    {% include "header.html" %}
    <div class="row-fluid cl_form">
        <div class="span2 control-bar pull-left">
            <div class="list-group cc_lg">
                <div class="list-group-item lactive" id="_lg1">Register Yourself</div>
            </div>
        </div>
        <div class="span5" style="max-height:94%;">
            <form method="POST" action="/login/create/submit" name="register" role="form" style="padding-right:30px;"><br/>
                <div class="bs-callout.bs-callout-danger">
                    {% if err %}
                    <div id="err"><pre>{{ err }}</pre></div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username" required="true"/><br/>
                </div>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name" required="true"/><br/>
                </div>
                <div class="form-group">
                    <label for="phone">Phone:</label>
                    <input type="text" class="form-control" id="phone" name="phone" placeholder="Enter Your Contact No." required="true"/><br/>
                </div>
                <div class="form-group">
                    <label for="chooseCountry">Country:</label>
                    <select name="country" id="chooseCountry" class="form-control" required="true">
                        {% for country in countries %}
                        <option value="{{ country.name }}">{{ country.name }}</option>
                        {% endfor %}
                    </select><br/>
                </div>
                <div class="form-group">
                    <label for="state" >State:</label>
                    <input type="text" name="state" id="state" class="form-control" placeholder="Enter Your State (If Applicable)"/><br/>
                </div>
                <div class="form-group">
                    <label for="city" >City:</label>
                    <input type="text" name="city" id="city" class="form-control" placeholder="Enter Your City" required="true"/><br/>
                </div>
                <div class="form-group">
                    <label for="pincode" >Pincode:</label>
                    <input type="text" name="pincode" id="pincode" class="form-control" placeholder="Enter Pincode" required="true"/><br/>
                </div>
                <div class="form-group">
                    <label for="address">Address:</label>
                    <textarea class="form-control" id="address" name="address"></textarea>
                </div>
                <div class="form-group">
                    <label for="about">About:</label>
                    <textarea class="form-control" id="about" name="about"></textarea>
                </div>
                <div class="form-group">
                    <label for="motto">Motto:</label>
                    <textarea class="form-control" id="motto" name="motto"></textarea>
                </div>
                <div class="form-group">
                    <label for="qualifications">Qualifications:</label>
                    <textarea class="form-control" id="qualifications" name="qualifications" required="true"></textarea>
                </div>
                <div class="form-group">
                    <input type="checkbox" name="profilepic" id="profilepic" class="form-control"/><label for="profilepic">Use Your Gravatar As Your Profile Pic.</label>
                </div>
                <input type="submit" value="submit" class="btn btn-primary btn-lg"/><br/>
            </form>
        </div>
    </div>
        <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.js"></script>
        <script src="/js/bootstrap-transition.js"></script>
        <script src="/js/bootstrap-alert.js"></script>
        <script src="/js/bootstrap-affix.js"></script>
        <script src="/js/bootstrap-modal.js"></script>
        <script src="/js/bootstrap-dropdown.js"></script>
        <script src="/js/bootstrap-scrollspy.js"></script>
        <script src="/js/bootstrap-tab.js"></script>
        <script src="/js/bootstrap-tooltip.js"></script>
        <script src="/js/bootstrap-popover.js"></script>
        <script src="/js/bootstrap-button.js"></script>
        <script src="/js/bootstrap-collapse.js"></script>
        <script src="/js/bootstrap-carousel.js"></script>
        <script src="/js/bootstrap-typeahead.js"></script>
</body>
</html>