<div class="footer" id="footer">
    <div class="container-fluid">
        <div class="span4 fcol">

        </div>
        <div class="span4 fcol">

        </div>
        <div class="span4 fcol ">
            <br/><br/><br/><br/>&copy;Team Enlite<br/>
        </div>
    </div>
</div>