<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<head>
    <link rel="stylesheet" type="text/css" href="/css/player.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <link type="text/css" href="/css/responsive.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Share+Tech' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Rationale' rel='stylesheet' type='text/css'>
</head>
<body class="page page-index">
    {% include "header.html" %}
    <div class="row-fluid cl_form">
        <div class="span3 control-bar pull-left">
            <div class="list-group cc_lg">
                <div class="list-group-item lactive" id="_lg1">{{ course.course_title }}</div>
                <div class="likes" id="likes">
                    <img src="img/like.png" alt="Likes"/>
                    <span id="lval">{{ likes }}</span>
                </div>
                <a href="{{ course.gdrive }}" target="_blank">
                <div class="drive">
                    <img alt="" src="img/drive.png" width="25" height="25"/> View Drive Documents
                </div>
                </a>
                <a href="{{ course.forum }}" target="_blank">
                <div class="drive"><img alt="" src="img/groups.png" width="25" height="25"/> Discussion Forum</div>
                </a>
                <div class="stats"><span id="lval">{{ attend }}</span><br/>people have taken this course </div>
                <div class="stats"><span id="lval">{{ taught }}</span><br/>people are teaching this course </div>
            </div>
        </div>
        <script>
               // 2. This code loads the IFrame Player API code asynchronously.
               var tag = document.createElement('script');

               tag.src = "https://www.youtube.com/iframe_api";
               var firstScriptTag = document.getElementsByTagName('script')[0];
               firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

               // 3. This function creates an <iframe> (and YouTube player)
               //    after the API code downloads.
               var player;
               function onYouTubeIframeAPIReady() {
                 player = new YT.Player('player', {
                   height: '390',
                   width: '640',
                   videoId: 'M7lc1UVf-VE',
                   events: {
                     'onReady': onPlayerReady,
                     'onStateChange': onPlayerStateChange
                   }
                 });
               }

               // 4. The API will call this function when the video player is ready.
               function onPlayerReady(event) {
                 event.target.playVideo();
               }

               // 5. The API calls this function when the player's state changes.
               //    The function indicates that when playing a video (state=1),
               //    the player should play for six seconds and then stop.
               var done = false;
               function onPlayerStateChange(event) {
                 /*if (event.data == YT.PlayerState.PLAYING && !done) {
                   setTimeout(stopVideo, 6000);
                   done = true;
                 }*/
               }
               function stopVideo() {
                 player.stopVideo();
               }

               function pl_view(Id){
                   player.loadVideoById({videoId: Id});
               }
        </script>
        <div class="span6" style="padding-top:20px;">
            <div id="player"></div>
            <iframe id="forum_embed"
             src="javascript:void(0)"
             scrolling="no"
             frameborder="0"
             width="640"
             height="800">
            </iframe>

            <script type="text/javascript">
             document.getElementById("forum_embed").src =
              "https://groups.google.com/forum/embed/?place=forum/javacv" +
              "&showsearch=true&showpopout=true&parenturl=" +
              encodeURIComponent(window.location.href);
            </script>
        </div>
        <div class="span3 cl_session pull-right" id="linkList">
                //the playlist
                {% for link in links %}
                <div class="cc_session" onclick="pl_view('{{ link.link }}');">
                    <img class="img-responsive vico" src="http://img.youtube.com/vi/{{ link.link }}/default.jpg" style="float: left;margin-right: 15px;"/>
                    <p id="title">{{ link.title }}</p>
                </div>
                {% endfor %}
        </div>
    </div>
        <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.js"></script>
        <script src="/js/bootstrap-transition.js"></script>
        <script src="/js/bootstrap-alert.js"></script>
        <script src="/js/bootstrap-affix.js"></script>
        <script src="/js/bootstrap-modal.js"></script>
        <script src="/js/bootstrap-dropdown.js"></script>
        <script src="/js/bootstrap-scrollspy.js"></script>
        <script src="/js/bootstrap-tab.js"></script>
        <script src="/js/bootstrap-tooltip.js"></script>
        <script src="/js/bootstrap-popover.js"></script>
        <script src="/js/bootstrap-button.js"></script>
        <script src="/js/bootstrap-collapse.js"></script>
        <script src="/js/bootstrap-carousel.js"></script>
        <script src="/js/bootstrap-typeahead.js"></script>
</body>
</html>