<div class="header">
    <div class="header-inner">
        <div class="container-fluid">
            <!--<div class="span2 logo">
                <img src="img/logo.svg"/>
            </div>
            <div class="span2">
                enLite
            </div>-->
            <img src="/img/logo.png" class="img-responsive" width="30" height="30"/>
            <strong class="liner">enlite</strong>
            <div style="float: right;margin-top: 20px;">
            <div class="g-plusone" data-size="tall" data-annotation="inline" data-width="300" data-href="https://plus.google.com/u/0/b/106431201314809733096"></div>
            </div>
            <script type="text/javascript">
                window.___gcfg = {
                  lang: 'zh-CN',
                  parsetags: 'onload'
                };
                (function() {
                    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                    po.src = 'https://apis.google.com/js/plusone.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                  })();
            </script>
        </div>
    </div>

</div>