<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Enlight | Learn Share Educate</title>
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
    <link type="text/css" href="css/responsive.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Share+Tech' rel='stylesheet' type='text/css'>
</head>
<body class="page page-index">
    <script type="text/javascript">
        function Warp(){
            window.location = '{{ greeting }}';
        }
    </script>
    <div id="wrap">
        <div class="container-fluid content_one">
            <div class="row">
                  <div class="span3">
                      <div class="banner pull-right">
                          <div class="logo">
                              <img src="/img/logo.png" alt=""/>
                              <div class="_logo">-- enlite --</div>
                          </div>
                         <div class="links">
                            <br/><a href="#" style="color: #9E662B;">Learn</a><br/>
                            <a href="#" style="color: #F2A900;">Share</a><br/>
                            <a href="#" style="color: #0F89C9;">Educate</a><br/>
                        </div>
                        <div class="tail">
                        </div>
                    </div>
                </div>
                <div class="span9">
                    <a href="{{ greeting }}"><div class="btn btn-primary pull-right" style="margin-top: 10px;">Login Using Google</div></a>
                    <div class="row headline">
                        Your Classes and Courses available on the move.<br/><br/>
                    </div>
                    <div class="row flowchart">
                        <div class="span3">
                            <div class="gblock pull-right">
                                learn
                            </div>
                        </div>
                        <div class="span3">
                            <div class="hblock">
                                educate
                            </div>
                        </div>
                        <div class="span3 pull-left">
                            <div class="gblock">
                                share
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pic">
            <img class="image-responsive" src="/img/education.png"/>
        </div>
        <div class="row">
            <div class="span3" style="text-align: center;margin-top: -150px;margin-left: 80px;">
                <div class="g-plusone" data-size="tall" data-annotation="inline" data-width="300" data-href="https://plus.google.com/u/0/b/106431201314809733096"></div>
            </div>
            <div class="span9">
            </div>
        </div>
        <div class="row footer" id="footer">
            <div id="link_with_us pull-left">
            </div>
            <div id="get_in_touch pull-right">
                <a href="#">Contact Us</a>
                <a href="#">&copy; Team Enlite | </a>
            </div>
        </div>
    </div>
    <!--js files -->
    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
    <script type="text/javascript">
    window.___gcfg = {
      lang: 'zh-CN',
      parsetags: 'onload'
    };
    (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
</body>
</html>