<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>
    {% if classes %}
    {% for class in classes %}
    <div id="clss">
        {{ class.class_id }}
        {{ class.title }}
        <a href="/class/enroll?key={{ class.key }}">Register Here</a>
    </div>
    {% endfor %}
    {% else %}
    <div>No class to display</div>
    {% endif %}
</body>
</html>