<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Enlight | Class </title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
    <h1>{{ url }}</h1>
    <a href="/class/create">Create class</a>
    <a href="/class/view">View all class</a>
</body>
</html>