<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<head>
    <link rel="stylesheet" type="text/css" href="/css/mycourses.css"/>
    <link type="text/css" href="/css/responsive.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Share+Tech' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Rationale' rel='stylesheet' type='text/css'>
</head>
<body class="page page-index">
    {% include "header.html" %}
    <div class="row-fluid cl_form">
        <div class="span3 control-bar pull-left">
            <div id="profile_pic">
                <img class="" src="{{ user.profilepic }}"/>
            </div>
            <div id="profile_info">
                <div id="username_info">{{ user.name }}</div>
                <div id="email_info"><img src="/img/email.png" alt=""/>{{ user.email }}</div>
            </div>
        </div>
        <div class="span9" style="padding-left: 20px;">
                <div class="row">
                    <div class="navbar" style="margin-top:0px;padding-right:95px;">
                        <div class="navbar-inner">
                            <ul class="nav">
                                <li><a href="/profile">Home</a></li>
                                <li class="active"><a href="/profile/mycourses">My Courses</a></li>
                                <li><a href="/profile/myclasses">My Classes</a></li>
                                <li><a href="/profile/search">Search</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="course_taken">
                        <table class="table table-condensed">
                            <tr>
                                <td>
                                    <img src="/img/cicon.png" class="image-responsive " width="70" height="70" style="border: 3px solid gray;"/>
                                </td>
                                <td>
                                    <div class="pull-left cdetails" >
                                        <div class="course_name">MA101</div>
                                        <div class="course_title">Introduction to Mathematics</div>
                                    </div>
                                </td>
                                <td >
                                    <div class="pull-right _button" style="width:70px;height: 70px;">
                                        <img src="/img/goto.png"/>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.js"></script>
        <script src="/js/bootstrap-transition.js"></script>
        <script src="/js/bootstrap-alert.js"></script>
        <script src="/js/bootstrap-affix.js"></script>
        <script src="/js/bootstrap-modal.js"></script>
        <script src="/js/bootstrap-dropdown.js"></script>
        <script src="/js/bootstrap-scrollspy.js"></script>
        <script src="/js/bootstrap-tab.js"></script>
        <script src="/js/bootstrap-tooltip.js"></script>
        <script src="/js/bootstrap-popover.js"></script>
        <script src="/js/bootstrap-button.js"></script>
        <script src="/js/bootstrap-collapse.js"></script>
        <script src="/js/bootstrap-carousel.js"></script>
        <script src="/js/bootstrap-typeahead.js"></script>
</body>
</html>