<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<head>
    <link rel="stylesheet" type="text/css" href="/css/user.css"/>
    <link type="text/css" href="/css/responsive.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Share+Tech' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Rationale' rel='stylesheet' type='text/css'>
</head>
<body class="page page-index">
    {% include "header.html" %}
    <div class="row-fluid cl_form">
        <div class="span3 control-bar pull-left">
            <div id="profile_pic">
                <img class="" src="{{ user.profilepic }}"/>
            </div>
            <div id="profile_info">
                <div id="username_info">{{ user.name }}</div>
                <div id="email_info"><img src="img/email.png" alt=""/>{{ user.email }}</div>
            </div>
        </div>
        <div class="span9" style="padding-left: 20px;">
                <div class="row">
                    <div class="navbar" style="margin-top:0px;padding-right:95px;">
                        <div class="navbar-inner">
                            <ul class="nav">
                                <li class="dropdown active">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="/profile">Home</a>
                                </li>
                                <li><a href="/profile/mycourses">My Courses</a></li>
                                <li><a href="/profile/myclasses">My Classes</a></li>
                                <li><a href="/profile/search">Search</a></li>
                                <li><a href="#">Settings</a></li>
                                <li><a href="/profile/estore">E-Store</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for course in courses %}
                        <div class="col-md-4 plholder" style="float: left;">
                            <div class="title">{{ course.course_title }}</div>
                            <img class="cat_pic" src="img/cse.png"/>
                            <span class="info">Category:{{ course.category.category_name }}</span>CSE<br/>
                            <span class="info">Likes:</span>+291<br/>
                        </div>
                    {% endfor %}
                    <!--<div class="col-md-4 plholder" style="float: left;">
                        <div class="title">Title</div>
                        <img class="cat_pic" src="img/ee.png"/>
                        <span class="info">Category:</span>EE<br/>
                        <span class="info">Likes:</span>+291<br/>
                    </div>
                    <div class="col-md-4 plholder" style="float: left;">
                        <div class="title">Title</div>
                        <img class="cat_pic" src="img/hobbies.png"/>
                        <span class="info">Category:</span>HOBBIES<br/>
                        <span class="info">Likes:</span>+291<br/>
                    </div>
                    <div class="col-md-4 plholder" style="float: left;">
                        <div class="title">Title</div>
                        <img class="cat_pic" src="img/entre.png"/>
                        <span class="info">Category:</span>ENTRE<br/>
                        <span class="info">Likes:</span>+291<br/>
                    </div>
                    <div class="col-md-4 plholder" style="float: left;">
                        <div class="title">Title</div>
                        <img class="cat_pic" src="img/maths.png"/>
                        <span class="info">Category:</span>MATHS<br/>
                        <span class="info">Likes:</span>+291<br/>
                    </div>-->
                </div>
                <div class="row">
                    {% for class in classes %}
                    <div class="col-md-4 plholder" style="float: left;">
                        <div class="title">{{ class.class_title }}</div>
                        <img class="cat_pic" src="img/sc.png"/>
                        <span class="info">Category:{{ class.category.category_name }}</span>SOCIAL<br/>
                        <span class="info">Likes:</span>+291<br/>
                    </div>
                    {% endfor %}
                    <!--<div class="col-md-4 plholder" style="float: left;">
                        <div class="title">Title</div>
                        <img class="cat_pic" src="img/random.png"/>
                        <span class="info">Category:</span>RANDOM<br/>
                        <span class="info">Likes:</span>+291<br/>
                    </div>
                    <div class="col-md-4 plholder" style="float: left;">
                        <div class="title">Title</div>
                        <img class="cat_pic" src="img/health.png"/>
                        <span class="info">Category:</span>HEALTHCARE<br/>
                        <span class="info">Likes:</span>+291<br/>
                    </div>
                    <div class="col-md-4 plholder" style="float: left;">
                        <div class="title">Title</div>
                        <img class="cat_pic" src="img/music.png"/>
                        <span class="info">Category:</span>MUSIC<br/>
                        <span class="info">Likes:</span>+291<br/>
                    </div>
                    <div class="col-md-4 plholder" style="float: left;">
                        <div class="title">Title</div>
                        <img class="cat_pic" src="img/law.png"/>
                        <span class="info">Category:</span>LAW<br/>
                        <span class="info">Likes:</span>+291<br/>
                    </div>-->
                </div>
                <div class="row">

                </div>
            </div>
        </div>
    </div>
        <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.js"></script>
        <script src="/js/bootstrap-transition.js"></script>
        <script src="/js/bootstrap-alert.js"></script>
        <script src="/js/bootstrap-affix.js"></script>
        <script src="/js/bootstrap-modal.js"></script>
        <script src="/js/bootstrap-dropdown.js"></script>
        <script src="/js/bootstrap-scrollspy.js"></script>
        <script src="/js/bootstrap-tab.js"></script>
        <script src="/js/bootstrap-tooltip.js"></script>
        <script src="/js/bootstrap-popover.js"></script>
        <script src="/js/bootstrap-button.js"></script>
        <script src="/js/bootstrap-collapse.js"></script>
        <script src="/js/bootstrap-carousel.js"></script>
        <script src="/js/bootstrap-typeahead.js"></script>
</body>
</html>