<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<head>
    <link rel="stylesheet" type="text/css" href="/css/search.css"/>
    <link type="text/css" href="/css/responsive.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Share+Tech' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Rationale' rel='stylesheet' type='text/css'>
</head>
<body class="page page-index">
    <script>
        var page = 0;
        var next_page = true;

        function getSearchResults()
        {
            showLoadingIcon();
            var xmlhttp;
            if(window.XMLHttpRequest){
                xmlhttp=new XMLHttpRequest();
            }
            else{
                xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
            }
            var category;
            var keywords;
            var obj=document.getElementById("cat_");
            category=obj.options[obj.selectedIndex].value;
            keywords=document.getElementById("key_word").value;
            xmlhttp.open("GET","/search?category="+category+"&page="+page+"&keywords="+keywords,true);
            xmlhttp.send();
            xmlhttp.onreadystatechange = function(){
                if(xmlhttp.readyState==4 && xmlhttp.status==200){
                    document.getElementById("search_results").innerHTML=xmlhttp.responseText;
                    document.getElementById("pageno").innerHTML="Page "+(page+1);
                    if(document.getElementById("search_results").innerHTML == null || document.getElementById("search_results").innerHTML == "")
                    {
                        next_page = false;
                        if(page > 0)
                            getPreviousPage();
                    }
                    else next_page = true;
                }
            }
        }

        function getPreviousPage(){
            if(page > 0)
                page--;
            getSearchResults();
        }

        function getNextPage(){
            if(next_page)
                page++;
            getSearchResults();
        }

        function showLoadingIcon(){
            var obj = document.getElementById("search_results")
            obj.innerHTML = "<img src='/img/loading.gif'/>";
        }
    </script>
    {% include "header.html" %}
    <div class="row-fluid cl_form">
        <div class="span3 control-bar pull-left">
            <div id="profile_pic">
                <img class="" src="http://www.gravatar.com/avatar/345723ab968474f41335f576a3190bad?s=260"/>
            </div>
            <div id="profile_info">
                <div id="username_info">saswat raj</div>
                <div id="email_info"><img src="/img/email.png" alt=""/>saswatrj2010@gmail.com</div>
                <a class="mybutton" href="#">Update Profile</a>
            </div>
        </div>
        <div class="span9" style="padding-left: 20px;">
                <div class="row">
                    <div class="navbar" style="padding-right:95px;">
                        <div class="navbar-inner">
                            <ul class="nav">
                                <li><a href="/profile">Home</a></li>
                                <li><a href="/profile/mycourses">My Courses</a></li>
                                <li><a href="/profile/myclasses">My Classes</a></li>
                                <li class="active"><a href="/profile/search">Search</a>
                                <li><a href="#">Settings</a></li>
                                <li><a href="#">E-Store</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="search-bar" >
                        <img src="/img/search.png" width="22" height="22" style="display: table-cell;margin-top: -7px;margin-right: 5px;"/>
                        <select id="cat_" class="select" style="display: table-cell;">
                        {% for category in categories %}
                            <option value="{{ category.key }}">{{ category.category_name }}</option>
                        {% endfor %}
                        </select>
                        <input type="text" id="key_word" class="input" placeholder="Keywords" style="display: table-cell;"/>
                        <input type="button" class="btn pull-right" onclick="getSearchResults();" value="Search" style="display: table-cell;"/>
                    </div>
                    <hr style="margin-right: 90px;"/>
                </div>
                <div class="row" id="search_results">
                </div>
                <div class="row" style="margin-right: 90px;">
                <hr/>
                </div>
                <div class="row" style="margin-right: 90px;margin-top: -5px;">
                    <label id="pageno" class="pull-right">Page 1</label>
                </div>
                <div class="row" style="margin-right: 90px;font-size: 45px;font-weight: bolder;margin-top: -5px;">
                    <div onclick="getPreviousPage();" class="pull-left" style="cursor: pointer;">&#8656;</div>
                    <div onclick="getNextPage();" class="pull-right" style="cursor: pointer;">&#8658;</div>
                </div>
            </div>
        </div>
    </div>
        <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.js"></script>
        <script src="/js/bootstrap-transition.js"></script>
        <script src="/js/bootstrap-alert.js"></script>
        <script src="/js/bootstrap-affix.js"></script>
        <script src="/js/bootstrap-modal.js"></script>
        <script src="/js/bootstrap-dropdown.js"></script>
        <script src="/js/bootstrap-scrollspy.js"></script>
        <script src="/js/bootstrap-tab.js"></script>
        <script src="/js/bootstrap-tooltip.js"></script>
        <script src="/js/bootstrap-popover.js"></script>
        <script src="/js/bootstrap-button.js"></script>
        <script src="/js/bootstrap-collapse.js"></script>
        <script src="/js/bootstrap-carousel.js"></script>
        <script src="/js/bootstrap-typeahead.js"></script>
</body>
</html>