<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/css/clstyle.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <link type="text/css" href="/css/responsive.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Share+Tech' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Rationale' rel='stylesheet' type='text/css'>
</head>
<body class="page page-index">
    {% include "header.html" %}
    <div class="row-fluid cl_form">
        <div class="span2 control-bar pull-left">
            <div class="list-group cc_lg">
                <div class="list-group-item lactive" id="_lg1">Edit Course</div>
                <div class="list-group-item" id="_lg2">Edit Links</div>
                <div class="list-group-item" id="_lg4">Finished</div>
            </div>
        </div>
        <div class="span5">
            <form method="POST" action="/course/update/submit?key={{ course.key }}" name="updateCourse" role="form"><br/>
                <div class="bs-callout.bs-callout-danger">
                    {% if err %}
                    <div id="err"><pre>{{ err }}</pre></div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="course_name">Course Title:</label>
                    <input type="text" class="form-control" value="{{ course.course_title }}" id="course_name" name="course_name" placeholder="Enter Course Name"/><br/>
                </div>
                <div class="form-group">
                    <label for="course_category">Category:</label>
                    <select name="course_category" id="course_category" class="form-control">
                        {% for category in categories %}
                        {% if category.key == course.category.key %}
                        <option value="{{ category.key }}" selected>{{ category.category_name }}</option>
                        {% else %}
                        <option value="{{ category.key }}">{{ category.category_name }}</option>
                        {% endif %}
                        {% endfor %}
                    </select><br/>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" name="description">{{ course.desc }}</textarea>
                </div>
                <div class="form-group">
                    <label for="gdrive">Attach Google Drive Link:</label>
                    <input type="text" name="gdrive" id="gdrive" value="{{ course.gdrive }}" class="form-control" placeholder="public link to google drive folder"/>
                </div>
                <div class="form-group">
                    <label for="discuss">Attach Google Group Link:</label>
                    <input type="text" name="discuss" id="discuss" value="{{ course.forum }}" class="form-control" placeholder="link to public google group"/>
                </div>
                <input type="submit" value="submit" class="btn btn-primary btn-lg"/><br/>
            </form>
            </div>
            <div class="span5 cl_session pull-right">
                <div class="cc_session">
                    <img class="img-responsive" src="/img/course1.jpg"/>
                    <p>At enlite we bring together a collection of all videos available on the net
                    and compile them with analytics so that you get the best course of what you need
                    any where, any time and every single time.</p>
                </div>
            </div>
        </div>
    </div>
        <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.js"></script>
        <script src="/js/bootstrap-transition.js"></script>
        <script src="/js/bootstrap-alert.js"></script>
        <script src="/js/bootstrap-affix.js"></script>
        <script src="/js/bootstrap-modal.js"></script>
        <script src="/js/bootstrap-dropdown.js"></script>
        <script src="/js/bootstrap-scrollspy.js"></script>
        <script src="/js/bootstrap-tab.js"></script>
        <script src="/js/bootstrap-tooltip.js"></script>
        <script src="/js/bootstrap-popover.js"></script>
        <script src="/js/bootstrap-button.js"></script>
        <script src="/js/bootstrap-collapse.js"></script>
        <script src="/js/bootstrap-carousel.js"></script>
        <script src="/js/bootstrap-typeahead.js"></script>
</body>
</html>