<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>
    {% if class %}
    <div id="cl">
        {{ class.class_id }}
        {{ class.title }}
    </div>
    {% endif %}

</body>
</html>